body {
    margin: auto;
    font: 16px/130% "Arial", sans-serif;
    color: black;
}

header{
    margin: auto;
    max-width: 1200px;
    padding: 0px 10px;
}

section {
    max-width: 1200px;
    margin: auto;
    padding: 0px 10px;
}
p {
    font: 16px/130% "Arial", sans-serif;
    color: black;
}


.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}
a {
    text-decoration: none;
    font: 16px/130% "Arial", sans-serif;
    color: black;
}

a:hover {
    color: gray;
    cursor: pointer;
}

.logo {
    height: 60px;
    width: 160px;
}

